@import '@/styles/base/vars';

.swiper {
	&-wrapper {
		align-items: center;
	}
	&__right,
	&__left {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 50px;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			background: $main-bg;
		}

		&:disabled {
			opacity: 0;
			cursor: auto;
		}
	}

	&__left {
		> img {
			transform: rotate(180deg);
		}
	}
}
@media (max-width: 1200px) {
	.swiper {
		&__right,
		&__left {
			width: clamp(9.375rem, -1.267rem + 22.52vw, 15.625rem);
			height: clamp(1.875rem, -0.253rem + 4.5vw, 3.125rem);

			> img {
				height: clamp(0.938rem, -0.127rem + 2.25vw, 1.563rem);
			}
		}
	}
}
@media (max-width: 620px) {
	.swiper {
		&__left,
		&__right {
			display: none;
		}
	}
}
