/* COLORS */
$main-color: #3f3f3f;
$second-color: #8e8e93;
$hover-color: #328fd2;
$white-color: #ffffff;
$done-color: #4a4458;

/* BACKGROUND */
$main-bg: #f2f2f7;
$second-bg: #ffffff;
$accent-bg: #3f3f3f;
$checkbox-bg: #4a4458;
$pink-bg: #f3e8f2;
$dark-pink-bg: #a78ba4;

/* BORDER */
$main-border: #3f3f3f;
$second-border: #d9d9d9;
$block-border: rgba(#8e8e93, 0.75);
$days-border: #aeaeb2;
$hover-border: #328fd2;
$checkbox-border: #4a4458;
